#link {
    color: #dc3545;
}

#link:hover {
    color: #495057;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>button:hover {
    color: #dc3545;
    font-size: large;
}

.logo {
    width: 50px;
    height: 50px;
}

.navbar-toggler {
    padding: 1rem;
    color: #0080ff;
}